{% extends 'base.html.twig' %}
{% block title %}Cart{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/cart.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading text-primary" >Nozama CART</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set subtotal = 0 %}
                        {% for item in items %}
                        <tr>
                            <td><img class="icon-item" src="{{asset('' ~ item.media.first ~ '')}}" /> </td>
                            <td>{{item.name}}</td>
                            {% if item.available > 0 %}
                            <td>In stock</td>
                            {% else %}
                            <td>Out of stock</td>
                            {% endif %}
                            <td><input class="form-control" type="text" value="{{ in_cart[item.id] }}" /></td>
                            <td class="text-right">{{ item.price * in_cart[item.id] }}</td>
                            {% set subtotal = subtotal + item.price * in_cart[item.id] %}
                            <td class="text-right"><a class="btn btn-sm btn-danger" href="{{url('remove-fromCart',{'id':item.id})}}" >remove</a> </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">{{ subtotal }} €</td>
                        </tr>
                        {% set shipping = 6.90 %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right">{{ shipping }} €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>{{ subtotal + shipping }} €</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a class="btn btn-block btn-light" href="{{'shop'}}">Continue Shopping</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a class="btn btn-lg btn-block btn-primary text-uppercase" 
                        href="{% if (subtotal + shipping) > shipping %} {{url('checkout')}} {% endif %}" >Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
  {% include 'footer.html.twig' %}
{% endblock %}