{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/shop.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Preserve the Earth</h1>
        <div class="list-group">
          {% for cat in categories %}
          <a href="{{ url('category_filter',{'id':cat.id}) }}" 
              class="list-group-item text-primary-hover {% if category_sorted != null and cat.id == category_sorted %} category-selected {% endif %}">
                  {{cat.name}}
          </a>
          {% endfor %}
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <div class="row">
          {% for item in items %}
          {% if (category_sorted != null and item.category.id == category_sorted) or category_sorted == null %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="{{ 'item/' ~ item.id }}"><img class="card-img-top" src="{{asset('' ~ item.media.first ~ '')}}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a class="text-primary-hover" href="{{ 'item/' ~ item.id }}">{{item.name}}</a>
                  </h4>
                  <h5>{{item.price}}€</h5>
                  <p class="card-text">{{item.description}}</p>
                </div>
                <div id="action-div-{{item.id}}" class="card-footer action-div" product-id="{{ item.id }}">
                  {# <a class="btn btn-primary text-uppercase add-to-cart" onclick="addToCart({{item.id}})">Add to cart</a> #}
                  <a class="btn btn-primary text-uppercase add-to-cart" href="{{ url('item-toCart',{'id':item.id}) }}">Add to cart</a>
                  {% if in_cart[item.id] is defined %}
                  <span>
                    ({{ in_cart[item.id] }})
                  </span>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
          {% endfor %}
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {% include 'footer.html.twig' %}
  {# <script src="{{ asset('scripts/manage-cart.js')}}"></script> #}
{% endblock %}
