{% extends 'base.html.twig' %}

{% block title %}PaymentInfo index{% endblock %}

{% block body %}
    <h1>PaymentInfo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Number</th>
                <th>Expires</th>
                <th>Cvv</th>
                <th>NameHolder</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payment_info in payment_infos %}
            <tr>
                <td>{{ payment_info.id }}</td>
                <td>{{ payment_info.type }}</td>
                <td>{{ payment_info.number }}</td>
                <td>{{ payment_info.expires ? payment_info.expires|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ payment_info.cvv }}</td>
                <td>{{ payment_info.nameHolder }}</td>
                <td>
                    <a href="{{ path('payment_info_show', {'id': payment_info.id}) }}">show</a>
                    <a href="{{ path('payment_info_edit', {'id': payment_info.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('payment_info_new') }}">Create new</a>
{% endblock %}
