{% extends 'base.html.twig' %}

{% block title %}PaymentInfo{% endblock %}

{% block body %}
    <h1>PaymentInfo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment_info.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ payment_info.type }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ payment_info.number }}</td>
            </tr>
            <tr>
                <th>Expires</th>
                <td>{{ payment_info.expires ? payment_info.expires|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Cvv</th>
                <td>{{ payment_info.cvv }}</td>
            </tr>
            <tr>
                <th>NameHolder</th>
                <td>{{ payment_info.nameHolder }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('payment_info_index') }}">back to list</a>

    <a href="{{ path('payment_info_edit', {'id': payment_info.id}) }}">edit</a>

    {{ include('payment_info/_delete_form.html.twig') }}
{% endblock %}
