{% extends 'base.html.twig' %}


{% block title %}{{item.name}}{% endblock %}
{% block stylesheets %}
<link href="{{ asset('css/item.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
                            {% for img in item.media %}
                            <div class="tab-pane {% if loop.first %} active {% endif %}" id="pic-{{loop.index}}"><img src="{{asset('' ~ img ~ '')}}" /></div>
                            {% endfor %}
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
                            {% for img in item.media %}
                                <li {% if loop.first %} class = "active"{% endif %}><a data-target="#pic-{{loop.index}}" data-toggle="tab"><img src="{{asset('' ~ img ~ '')}}" /></a></li>
                            {% endfor %}
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{item.name}}</h3>
						<p class="product-description">{{item.description}}</p>
						<h4 class="price">current price: <span>{{item.price}}€</span></h4>
						<div id="action-div-{{item.id}}" class="action action-div" product-id="{{ item.id }}">
							{# <a class="add-to-cart" onclick="addToCart({{item.id}})">add to cart</a> #}
							<a class="add-to-cart" href="{{ url('item-toCart',{'id':item.id}) }}">add to cart</a>
							{% if in_cart[item.id] is defined %}
							<span>
								({{ in_cart[item.id] }})
							</span>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('item_index') }}">back to list</a>
    <a href="{{ path('item_edit', {'id': item.id}) }}">edit</a>
    {{ include('item/_delete_form.html.twig') }}
{% endif %}
  	{% include 'footer.html.twig' %}
	{# <script src="{{ asset('scripts/manage-cart.js')}}"></script> #}
{% endblock %}